<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/head')%>
    <!-- Head -->

    <body>
        <!-- Header -->
        <%- include('./partials/header')%>
            <!-- Header -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="agregar">Editar Producto</h2>
                    </div>

                    <section class="editarProducto">
                        <form class="forms" action="/editarProducto/<%= libro.id%>" method="post" id="form" enctype='multipart/form-data'>
                            <label class="palabra"> Nombre: <input class="inputs" type="text" name="nombre" value= "<%= libro.nombre%>"> </label>
                            <label class="palabra"> Autor: <input class="inputs" type="text" name="autor" value= "<%= libro.autor%>"></label>
                            <label class="palabra"> Género: <input class="inputs" type="text" name="genero" value= "<%= libro.genero%>"></label>
                            <div class="completa">
                                <label class="palabra" for="foto">Foto:</label>
                                <input class="inputs" type="file" name="foto" id="foto">
                            </div>
                            <label class="palabra"> Resumen: <input class="inputs" type="text" name="resumen" value= "<%= libro.resumen%>"></label>
                            <label class="palabra"> Año de publicación: <input class="inputs" type="number" name="anio" value= "<%= libro.anio%>"></label>
                            <input type="hidden" name="id" value="<%= idUsuario %>">
                            <label class="palabra"> <button class="botonAgregarProducto3" type="submit">Editar producto</button>
                        </form>

                    </section>
                </div>
            </div>

    </body>
    <!-- footer -->
    <%- include('./partials/footer')%>
        <!-- /footer -->

</html>