<!DOCTYPE html>
<html lang="es">
    
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
        
    <title> SHE</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>

    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Header -->

    <!-- Banner -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
    
        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-3-4">
                <div class="uk-panel" >
                    <img src="images/marca/banner.png" alt="" >
                    <div class="uk-position-center uk-panel" >
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="images/marca/banner2.png" alt="">
                    <div class="uk-position-center uk-panel">
                    </div>
                </div>
            </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="images/marca/banner3.png" alt="">
                <div class="uk-position-center uk-panel">
                </div>
            </div>
        </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
    
    </div>
    <!-- /Banner -->

    <!-- BEST SELLERS -->
    
    <div class="container products-wrapper">
        
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Best Sellers 2020</h2>
            </div>
            <!-- best sellers -->
            <% libros.bestsellers.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %>  alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= element.nombre %></h2>
                            <p> <%= element.autor %> </p>
                            <p>Comentarios: 5</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        
    </div>
    <!-- / BEST SELLERS  -->


    <!-- CLASICOS  -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Clásicos de siempre</h2>
            </div>
            <% libros.clasicos.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p> <%= element.autor %> </p>
                            <p>Comentarios: 5</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>          
    </div>
    <!-- CLASICOS  -->


    <!--ROMANTICOS-->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Novelas románticas</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% libros.romances.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p>  <%= element.autor %> </p>
                            <p>Comentarios: 5</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>
<!-- ROMANTICOS -->


<!-- FICCION -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Ficción</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% libros.ficcion.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p> <%= element.autor %> </p>
                            <p>Comentarios: 5</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>
<!-- FICCION -->

<!-- TERROR -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Terror y thriller</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <% libros.terror.forEach(element => { %>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
            <a href="/product/<%= element.id %>">
                    <figure class="product-box_image">
                        <img src= <%= element.foto %> alt="cafetera moulinex">
                    </figure>
                    <article class="product-box_data">
                        <h2>  <%= element.nombre %> </h2>
                        <p><%= element.autor %></p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <% }) %>
  
    </div>
</div>

<!-- TERROR -->




<!-- Footer -->
<%- include('./partials/footer')%>
<!-- Footer -->
</body>

</html>