<!DOCTYPE html>
<html lang="es">
    
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
        
    <title> SHE</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>

    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Header -->

    <!-- Banner -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
    
        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-3-4">
                <div class="uk-panel" >
                    <img src="images/perfil/banner.jpeg" alt="" >
                    <div class="uk-position-center uk-panel" >
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="images/perfil/banner.jpeg" alt="">
                    <div class="uk-position-center uk-panel">
                    </div>
                </div>
            </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="images/perfil/banner.jpeg" alt="">
                <div class="uk-position-center uk-panel">
                </div>
            </div>
        </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
    
    </div>
    <!-- /Banner -->

    <!-- NOVEDADES -->
    
    <div class="container products-wrapper">
        
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Novedades</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% ropa.novedades.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %>  alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= element.nombre %></h2>
                            <p> <%= element.descripcion %> </p>
                            <p>Comentarios: 12</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        
    </div>
    <!-- /NOVEDADES -->


    <!-- JEANS -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Jeans</h2>
            </div>
            <% ropa.jeans.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p> <%= element.descripcion %> </p>
                            <p>Comentarios: 12</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>          
    </div>
    <!-- JEANS -->


    <!--REMERAS-->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Remeras</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% ropa.remeras.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p>  <%= element.descripcion %> </p>
                            <p>Comentarios: 12</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>
<!-- REMERAS -->


<!-- ZAPATOS -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Zapatos</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% ropa.zapatos.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src= <%= element.foto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= element.nombre %> </h2>
                            <p> <%= element.descripcion %> </p>
                            <p>Comentarios: 12</p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>
<!-- ZAPATOS -->

<!-- VESTIDOS -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Vestidos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <% ropa.vestidos.forEach(element => { %>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
            <a href="http://localhost:3000/product">
                    <figure class="product-box_image">
                        <img src= <%= element.foto %> alt="cafetera moulinex">
                    </figure>
                    <article class="product-box_data">
                        <h2>  <%= element.nombre %> </h2>
                        <p><%= element.descripcion %></p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <% }) %>
        
    </div>
</div>
<!-- ZAPATOS -->


<!-- Footer -->
<%- include('./partials/footer')%>
<!-- Footer -->
</body>

</html>