<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('./partials/head')%>
    <!-- Head -->
   
<body>
  <%- include('./partials/header')%> 

<!-- Banner -->
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="images/marca/banner.png" alt="">
                <div class="uk-position-center uk-panel">
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="images/marca/banner2.png" alt="">
                <div class="uk-position-center uk-panel">
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="images/marca/banner3.png" alt="">
                <div class="uk-position-center uk-panel">
                </div>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slider-item="next"></a>

</div>

<!-- /Banner -->
    
    <div class="container products-wrapper">
        
        <div class="row">
            <div class="col-12">
                <h2 class="products-title tipografia2">Novedades</h2>
            </div>
            <% libros.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= '/images/productos/<%= element.foto %>'  alt="portada libro">
                        </figure>
                        <article class="product-box_data">
                            <h2 class="tipografia1"><%= element.nombre %></h2>
                            <p class="tipografia1"> <%= element.autor %> </p>
                            <p class="tipografia1"><%= element.genero %></p>
                            <style type="text/css">
                                a:link,
                                a:visited,
                                a:active {
                                    text-decoration: none;
                                }
                            </style>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        
    </div>
  
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title tipografia2">Ficción</h2>
            </div>
            <% libros2.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= '/images/productos/<%= element.foto %>' alt="portada libro">
                        </figure>
                        <article class="product-box_data">
                            <h2 class="tipografia1"> <%= element.nombre %> </h2>
                            <p class="tipografia1"> <%= element.autor %> </p>
                            <p class="tipografia1"><%= element.genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>          
    </div>
 
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title tipografia2">Romance</h2>
            </div>
    
            <% libros3.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= '/images/productos/<%= element.foto %>' alt="portada libro">
                        </figure>
                        <article class="product-box_data">
                            <h2 class="tipografia1"> <%= element.nombre %> </h2>
                            <p class="tipografia1">  <%= element.autor %> </p>
                            <p class="tipografia1"><%= element.genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>



    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title tipografia2">Thriller</h2>
            </div>
            
            <% libros4.forEach(element => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                <a href="/product/<%= element.id %>">
                        <figure class="product-box_image">
                            <img src= '/images/productos/<%= element.foto %>' alt="portada libro">
                        </figure>
                        <article class="product-box_data">
                            <h2 class="tipografia1"> <%= element.nombre %> </h2>
                            <p class="tipografia1"> <%= element.autor %> </p>
                            <p class="tipografia1"><%= element.genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
        </div>
    </div>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title tipografia2">Fantasia</h2>
        </div>
      
        <% libros5.forEach(element => { %>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
            <a href="/product/<%= element.id %>">
                    <figure class="product-box_image">
                        <img src= '/images/productos/<%= element.foto %>' alt="portada libro">
                    </figure>
                    <article class="product-box_data">
                        <h2 class="tipografia1">  <%= element.nombre %> </h2>
                        <p class="tipografia1"><%= element.autor %></p>
                        <p class="tipografia1"><%= element.genero %></p>
                    </article>
                </a>
            </section>
        </div>
        <% }) %>
  
    </div>
</div>

<!-- Footer -->
<%- include('./partials/footer')%>
<!-- Footer -->
</body>

</html>