<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/head')%>
<!-- Head -->

<body>   
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- /Header -->

    <!-- detalle del producto -->
    <div class="container products-wrapper">

        <div class="informacion">
            <div class="editar"><h2 class="products-title tipografia2" > <%= libro.nombre %> </h2> <a href="http://localhost:3000/productadd"><h3 class=" botoneditar tipografia2"> Editar</h3></div> </a>
            <div><h3 class="products-autor tipografia3"> Autor: <%= libro.autor %></h3></div>
        </div>
        
        <div class="product-detail">
            <div class="row">

                <article class="col-12 col-lg-8 product-detail-info">
                    <img src= <%= libro.foto %> alt="" class="product-detail-img">
                    <h3 class="genero tipografia3">Género: <%= libro.genero%></h3>
                    <p class="product-detail-description tipografia3" id="resumenes"> <%= libro.resumen %> </p>
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% libro.comentarios.forEach(element=> { %>
                        <article>
                            <img src= <%= element.fotoUsuario %> alt="">
                            <div class="data">
                                <p class="user">
                                    <strong> <a href="http://localhost:3000/profile" class="tipografia3"> <%= element.usuario %>:  </a> </strong>
                                    <p class="tipografia3"><%= element.comentario%></p>
                                </p>
                            </div>
                        </article>
                        <% }) %>
                    </section>

                    <form class="form" action="http://localhost:3000/register" method="GET">
                        <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                        <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- detalle del producto -->

    <!-- footer -->
    <%- include('./partials/footer')%>
    <!-- /footer -->

</body>

</html>