<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/head')%>
<!-- Head -->

<body>   
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- /Header -->

    <!-- detalle del producto -->
    <div class="container products-wrapper">

        <div class="informacion">
        
            <h3 class="tituloLibro">
                <%= libro.nombre %>
            </h3>

            <% if (libro.usuario.id==idUsuario){%>
                <form action="/editarProducto/<%= libro.id %>" method="GET" class="editar">
                    <input class="botonEditar tipografia2" type="submit" name="editar" value="Editar">
                </form>
        
        
                <form action="/borrar/<%= libro.id %>" method="POST" class="borrar">
                    <input class=" botonBorrar tipografia2" type="submit" value="Borrar" name="borrar">
                </form>
                <% }%>
        </div>
        <div>
            <h3 class="autorLibro tipografia3"> Autor: <%= libro.autor %> </h3>
        </div>
        <div>
            <a href="/profile/<%= libro.usuario.id%>"><h3 class="autorLibro tipografia3"> Creador: <%= libro.usuario.nombre %> </h3></a>
        </div>
        
        <div class="product-detail">
            <div class="row">
 
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src= '/images/productos/<%= libro.foto %>' alt="" class="product-detail-img">
                    <h3 class="genero tipografia3">Género: <%= libro.genero%></h3>
                    <p class="product-detail-description tipografia3" id="resumenes"> <%= libro.resumen %> </p>
                </article>
                <% if (libro.comentarios == undefined || libro.comentarios == 0 ) { %>
                    <div class="col-12 col-lg-4">
                        <section class="comments">
                            <h2 class="tipografia2">No hay comentarios aún</h2>
                        </section>
                    
                        <% if(! logueado) { %>
                            <!-- Este if significa que si no estas logueado, no podes agregar comentario y te redirecciona al login-->
                            <form class="form" action="/login" method="GET">
                                <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                                <input type="hidden" name="libro" value="<%= libro.id %>">
                                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                            </form>
                            <% } else { %>
                                <form class="form" action="/product/<%= libro.id %> " method="POST">
                                    <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                                    <input type="hidden" name="libro" value="<%= libro.id %>">
                                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                                </form>
                                <% } %>
                    </div>                
                <% }else{ %>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% libro.comentarios.forEach(element=> { %>
                            <article>
                                <img src= '/images/usuarios/<%=element.usuario.fotoPerfil %>' alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong> 
                                            <a href="/profile/ <%= element.usuario.id %>" class="tipografia3"><%= element.usuario.nombre %></a>
                                        </strong>
                                    <% if (element.usuario.id == idUsuario){%>
                                    <!--
                                        ELIMINAR COMENTARIO
                                    -->
                                    <form action="/comentario/<%= element.id %>" method="POST" class="borrar">

                                        <input type="submit" value="Eliminar" name="borrar">
                                        <label for="borrar">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </label>
                                      
                                    </form>
                                  
                                    
                                    <% }%>
                                    <p class="tipografia3">
                                        <%= element.texto%>
                                    </p>
                                    </p>
                                </div>
                            </article>

                            <% }) %>
                    </section>

                    <% if(! logueado) { %> <!-- Este if significa que si no estas logueado, no podes agregar comentario y te redirecciona al login-->
                        <form class="form" action="/login" method="GET">
                            <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                            <input type="hidden" name="libro" value="<%= libro.id %>">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } else { %>
                        <form class="form" action="/product/<%= libro.id %> " method="POST">
                            <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                            <input type="hidden" name="libro" value="<%= libro.id %>">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } %>

                </div>
                <% } %>
            </div>
        </div>
    </div>
  

    <!-- footer -->
    <%- include('./partials/footer')%>
    <!-- /footer -->

</body>

</html>