<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/head')%>
<!-- Head -->

<body>   
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- /Header -->

    <!-- detalle del producto -->
    <div class="container products-wrapper">

        <div class="informacion">
            <div class="editar"><h2 class="products-title tipografia2" > <%= libro.nombre %> </h2> <a href="/productadd"><h3 class=" botoneditar tipografia2"> Editar</h3></div> </a>
            
            <form action="/borrar" method="POST">
                <input type="hidden" name="id" value="<%= libro.id %>"> 
                <input type="submit" value="Borrar">
              </form>
            
            <div><h3 class="products-autor tipografia3"> Autor: <%= libro.autor %></h3></div>
        </div>
        
        <div class="product-detail">
            <div class="row">
 
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src= '/images/productos/<%= libro.foto %>' alt="" class="product-detail-img">
                    <h3 class="genero tipografia3">Género: <%= libro.genero%></h3>
                    <p class="product-detail-description tipografia3" id="resumenes"> <%= libro.resumen %> </p>
                </article>
                <% if (libro.comentarios == undefined || libro.comentarios == 0 ) { %>
                    <h2 class="tipografia2" >No hay comentarios aún</h2>
                <% }else{ %>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% libro.comentarios.forEach(element=> { %>
                            <article>
                                <img src= '/images/usuarios/<%=element.usuario.fotoPerfil %>' alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong> 
                                            <a href="/profile/ <%= element.usuario.id %>" class="tipografia3"><%= element.usuario.nombre %></a>
                                        </strong>
                                    <p class="tipografia3">
                                        <%= element.texto%>
                                    </p>
                                    </p>
                                </div>
                            </article>
                            <% }) %>
                    </section>

                    <% if(! logueado) { %>
                        <form class="form" action="/login" method="GET">
                            <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                            <input type="hidden" name="libro" value="<%= libro.id %>">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } else { %>
                        <form class="form" action="/register" method="GET">
                            <input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
                            <input type="hidden" name="libro" value="<%= libro.id %>">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } %>

                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- detalle del producto -->

    <!-- footer -->
    <%- include('./partials/footer')%>
    <!-- /footer -->

</body>

</html>