<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

    <title> Gardenia Libros</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado')%>
    <!-- /Header -->

    <!-- Datos del usuario -->
    <section class="info-usuario container products-wrapper">
        <div class="row">
            <div class="img-container offset-3 col-2">
                <img src= '/images/perfil/KimKardashian.png' alt="" class="foto-perfil" >
            </div>
            <div class="data-container col-6">
                <div class="d-flex align-items-center ">
                    <h1 class="main-title">Kim Kardashian
                        <a href="http://localhost:3000/profileedit">
                            <i class="fas fa-cog"></i>
                        </a>
                    </h1>
                    <a class="btn mt-3 ml-4" href="">SEGUIR</a>
                </div>
                <div>
                    <ul class="">
                        <li>8 libros</li>
                        <li>6M seguidores</li>
                        <li>300 comentarios</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /Datos del usuario -->

    <!-- Mis productos -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Libros favoritos</h2>
            </div>
            <!-- Show mis productos -->
         <% for (let index = 0; index < 1; index++) {  %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product/4">
                        <figure class="product-box_image">
                            <img src=<%=libros.bestsellers[3].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= libros.bestsellers[3].nombre %></h2>
                            <p><%=  libros.bestsellers[3].autor%></p>
                            <p class="todoTexto"><%= libros.bestsellers[3].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="http://localhost:3000/product/14">
                    <figure class="product-box_image">
                        <img src=<%=libros.romances[1].foto %> alt="">
                    </figure>
                    <article class="product-box_data">
                        <h2>
                            <%= libros.romances[1].nombre %>
                        </h2>
                        <p>
                            <%= libros.romances[1].autor%>
                        </p>
                        <p class="todoTexto"><%= libros.romances[1].genero %></p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/product/<%= libros.romances[0].autor%>">
                    <figure class="product-box_image">
                        <img src=<%=libros.romances[0].foto %> alt="">
                    </figure>
                    <article class="product-box_data">
                        <h2>
                            <%= libros.romances[0].nombre %>
                        </h2>
                        <p>
                            <%= libros.romances[0].autor%>
                        </p>
                        <p class="todoTexto"><%= libros.romances[0].genero %></p>
                    </article>
                </a>
            </section>
        </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product/19">
                        <figure class="product-box_image">
                            <img src=<%=libros.terror[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= libros.terror[2].nombre %>
                            </h2>
                            <p>
                                <%= libros.terror[2].autor%>
                            </p>
                            <p class="todoTexto"><%= libros.terror[2].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product/8">
                        <figure class="product-box_image">
                            <img src=<%=libros.clasicos[3].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= libros.clasicos[3].nombre %>
                            </h2>
                            <p>
                                <%= libros.clasicos[3].autor%>
                            </p>
                            <p class="todoTexto"><%= libros.clasicos[3].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product/3">
                        <figure class="product-box_image">
                            <img src=<%=libros.bestsellers[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= libros.bestsellers[2].nombre %>
                            </h2>
                            <p>
                                <%= libros.bestsellers[2].autor%>
                            </p>
                            <p class="todoTexto"><%= libros.bestsellers[2].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product/15">
                        <figure class="product-box_image">
                            <img src=<%=libros.romances[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= libros.romances[2].nombre %>
                            </h2>
                            <p>
                                <%= libros.romances[2].autor%>
                            </p>
                            <p class="todoTexto"><%= libros.romances[2].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/product/<%= libros.bestsellers[0].id %>">
                        <figure class="product-box_image">
                            <img src=<%=libros.bestsellers[0].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= libros.bestsellers[0].nombre %></h2>
                            <p><%=  libros.bestsellers[0].autor%></p>
                            <p class="todoTexto"><%= libros.bestsellers[0].genero %></p>
                        </article>
                    </a>
                </section>
            </div>
        </div>
                <%}%>
        </div>

    </div>
    <!-- /Mis productos -->


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>