<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('./partials/head')%>
    <!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Header -->
    
    <!-- Datos del usuario -->
    <section class="info-usuario container products-wrapper">
        <div class="row">
            <div class="img-container offset-3 col-2">
                <img src= '/images/usuarios/<%= usuario.fotoPerfil %>' alt="" class="foto-perfil" > <!-- hecho -->
            </div>
            <div class="data-container col-6"> 
                <div class="d-flex align-items-center ">
                    <div class="edito">
                    <div><h1 class="main-title"> <%=  usuario.nombre %></div>
                        
                    </h1>
                    <% if (usuario.id == idUsuario){%>
                        <div>
                        <a href="/editarPerfil/<%= usuario.id %>">
                            <i class="fas fa-cog"></i>
                        </a>
                            <a href="/editarPerfil/<%= usuario.id %>">
                                <h3 class=" botonEditar tipografia2"> Editar</h3>
                            </a>
                        </div>
                        <% }%>
                    </div>
 
                </div>
            </div>
        </div>
    </section>
    <!-- /Datos del usuario -->

    <!-- Mis productos -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title tipografia2">Mis libros</h2>
            </div>
            <% usuario.productos.forEach(element=> { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/<%= element.id %>">
                            <figure class="product-box_image">
                                <img src='/images/productos/<%= element.foto %>' alt="portada libro">
                            </figure>
                            <article class="product-box_data">
                                <h2 class="tipografia1"><%= element.nombre %> </h2>
                                <p class="tipografia1"> Autor: <%= element.autor %></p>
                                <a href="/profile/<%=usuario.id%>"><p class="tipografia1"> Creador: <%= element.usuario.nombre %></p></a>
                                <style type="text/css">
                                    a:link,
                                    a:visited,
                                    a:active {
                                        text-decoration: none;
                                    }
                                </style>
                            </article>
                        </a>
                    </section>
                </div>
                <% }) %>
        </div>

    </div>
    <!-- /Mis productos -->


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>