<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado')%>
    <!-- /Header -->

    <!-- Datos del usuario -->
    <section class="info-usuario container products-wrapper">
        <div class="row">
            <div class="img-container offset-3 col-2">
                <img src= '/images/perfil/KimKardashian.png' alt="" class="foto-perfil" >
            </div>
            <div class="data-container col-6">
                <div class="d-flex align-items-center ">
                    <h1 class="main-title">Kim Kardashian
                        <a href="http://localhost:3000/profileedit">
                            <i class="fas fa-cog"></i>
                        </a>
                    </h1>
                    <a class="btn mt-3 ml-4" href="">SEGUIR</a>
                </div>
                <div>
                    <ul class="">
                        <li>8 productos</li>
                        <li>6M seguidores</li>
                        <li>300 comentarios</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /Datos del usuario -->

    <!-- Mis productos -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Mis productos</h2>
            </div>
            <!-- Show mis productos -->
         <% for (let index = 0; index < 1; index++) {  %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.novedades[3].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= ropa.novedades[3].nombre %></h2>
                            <p><%=  ropa.novedades[3].descripcion%></p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="http://localhost:3000/product">
                    <figure class="product-box_image">
                        <img src=<%=ropa.novedades[1].foto %> alt="">
                    </figure>
                    <article class="product-box_data">
                        <h2>
                            <%= ropa.novedades[1].nombre %>
                        </h2>
                        <p>
                            <%= ropa.novedades[1].descripcion%>
                        </p>
                        <p>Comentarios: 5 </p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="http://localhost:3000/product">
                    <figure class="product-box_image">
                        <img src=<%=ropa.zapatos[1].foto %> alt="">
                    </figure>
                    <article class="product-box_data">
                        <h2>
                            <%= ropa.zapatos[1].nombre %>
                        </h2>
                        <p>
                            <%= ropa.zapatos[1].descripcion%>
                        </p>
                        <p>Comentarios: 5 </p>
                    </article>
                </a>
            </section>
        </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.remeras[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= ropa.remeras[2].nombre %>
                            </h2>
                            <p>
                                <%= ropa.remeras[2].descripcion%>
                            </p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.vestidos[3].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= ropa.vestidos[3].nombre %>
                            </h2>
                            <p>
                                <%= ropa.vestidos[3].descripcion%>
                            </p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.novedades[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= ropa.novedades[2].nombre %>
                            </h2>
                            <p>
                                <%= ropa.novedades[2].descripcion%>
                            </p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.zapatos[2].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= ropa.zapatos[2].nombre %>
                            </h2>
                            <p>
                                <%= ropa.zapatos[2].descripcion%>
                            </p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="http://localhost:3000/product">
                        <figure class="product-box_image">
                            <img src=<%=ropa.remeras[1].foto %> alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2>
                                <%= ropa.remeras[1].nombre %>
                            </h2>
                            <p>
                                <%= ropa.remeras[1].descripcion%>
                            </p>
                            <p>Comentarios: 5 </p>
                        </article>
                    </a>
                </section>
            </div>
        </div>
                <%}%>
        </div>

    </div>
    <!-- /Mis productos -->


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>